<!-- app/views/users/show.html.erb -->

<h1><%= @user.name %></h1>

<div class="user-profile">
  <div class="user-details">
    <% if @user.photo.present? %>
      <%= image_tag @user.photo, alt: "User Photo" %>
    <% else %>
      <p>No Photo Available</p>
    <% end %>
    <p>Number of Posts: <%= @user.posts_counter %></p>
  </div>

  <div class="user-bio">
    <p><%= @user.bio %></p>
  </div>
</div>

<div class="user-posts">
  <% @user.posts.each do |post| %>
    <%= link_to "Post: #{post.title}", user_posts_path(@user) %>
    <div class="post">
      <h2><%= post.title %></h2>
      <p><%= post.text.truncate(200, separator: ' ') %></p>
      <p>Number of Comments: <%= post.comments_counter %></p>
      <p>Number of Likes: <%= post.likes_counter %></p>
    </div>
  <% end %>

  <% if @user.posts.size > 5 %>
    <%= link_to "See More Posts", user_posts_path(@user) %>
  <% end %>

  <% if @user.posts.empty? %>
    <p>No posts available.</p>
  <% end %>
</div>
